@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
    --color-texto-unknow: #10495A;
    --color-texto-menu: #ADCADC;
    --color-texto-regular: #315941;
    --color-background: #082521;
    --color-unknow: #6190A4;
    --sections-width: 80%;
}

* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
@media (min-width:1400px){
    :root{
        --sections-width: 60%;
    }
}