.name {
    font-size: 2rem;
    margin-top: 4rem;
    color: var(--color-texto-regular)
}

.name--center {
    text-align: center;
    color: var(--color-texto-regular);
}

.animation {
    height: fit-content;
    background-color: var( --color-texto-unknow);
    width: fit-content;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.animation .text {
    font-size: 2rem;
    height: 2rem;
    overflow: hidden;
    margin: 2rem 0.5rem;
    color: var(--color-texto-menu);
    animation: animatedText 4s ease 5;
}

@keyframes animatedText {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}