.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: var(--color-background);
    span{
        color: var(--color-texto-menu);
        opacity: 0;
        transition: opacity 2s ease-out;
    }
}
