@import './css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
*{
    font-family: 'Great Vibes', cursive;
    font-size: 16px;

}
#container{
    margin: 2em;
}
body{
    background-color:#858a8b4d;
}
.center{
    background-image: url(images/pergamino.svg);
    background-size: 100%;
    width: 70%;
    margin: 0 15%;
    height: 35vh;
    transition:height  2s ease-out;
    overflow: hidden;
}
.header, .footer{
    height: 3em;
    width: 76%;
    margin: 0 12%;
    border-radius: 2em;
    background-image: radial-gradient(#D5B8A3, #b7873d);
    text-align: center;
}
.header h1{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0.3em;
}
.footer h3{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 1em;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textMenu{
    margin: 2em 0 1em 0;
    font-weight: 600;

}
.menu a{
    text-decoration: none;
    font-size: 2em;
    color: black;
    padding: 0.7em 0;
}
.holo{
    height:1em;
}


/* mayor que 932px width = cover */
/* menor que 932px width = contain */