@import 'css/general.css';
@import 'css/footer.css';
@import 'css/header.css';
@import 'css/animation.css';
@import 'css/education.css';
@import 'css/experience.css';
@import 'css/form.css';
@import 'css/presentation.css';
@import 'css/aboutme.css';
.line {
    border-bottom: 1px solid;
}

.block--all {
    width: 100%;
    position: absolute;
    top: 0;
    background: black;
    left: 0;
    opacity: 0.5;
    display: none;
}
@media (min-width:360px) and (max-width:500px) {
    * {
        font-size: 11px;
    }
    .name {
        margin-top: 6rem;
    }
}
@media ( min-width:1024px) {
    * {
        font-size: 22px;
    }
    .header .header__span {
        opacity: 1;
    }
    .header span:hover {
        font-weight: bold;
        font-size: 1.25rem
    }
    .header span.selected {
        font-weight: bold;
        font-size: 1.25rem
    }
    #form {
        width: 500px;
        height: 320px;
        transform: translate(calc(50% - 500px), 20vh);
    }
    #form textarea {
        width: 420px;
        height: 125px;
    }
}



